@import "../../../css/scss/colors";

section.accordion {
  margin: 1rem;
  max-width: 30rem;

  .mat-expansion-panel {
    box-shadow: none;
    border: 2px dashed;
    margin: 0;

    .mat-expansion-panel-header-title {
      color: $amber-900;
      font-weight: 500;
    }

    .toggle-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
