.accordion {
  margin: 0 1rem 0 1rem;
  .diet-title {
    padding-top: 1rem;
    color: #ff8f00;
    font-weight: 500;
    font-size: large;
  }
}

.toggle-wrapper {
  display: flex;
  column-gap: 1rem;
}
