section {
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    h4 {
        margin-top: 1rem;
        margin-bottom: 0;
        color: #FF8F00;
        font-weight: 400;
    }
}

.toggle-wrapper {
    display: flex;
    column-gap: 1rem;
}