<app-header-xs></app-header-xs>

<mat-divider></mat-divider>

<!-- <ng-container *ngIf="savedRecipes">
    <main class="list-wrapper">
        <mat-card class="list-card" *ngFor="let savedRecipe of savedRecipes" [routerLink]="['/recipe', savedRecipe.id]">
            <img mat-card-image src="{{ savedRecipe.image }}" />
            <mat-card-content>
                <mat-card-title>{{ savedRecipe.title }}</mat-card-title>
                <a mat-flat-button class="remove-btn" color="accent"
                    (click)="removeRecipeFromList($event, savedRecipe.id)">
                    <mat-icon color="white">close</mat-icon> Remove from list
                </a>
            </mat-card-content>
        </mat-card>
    </main>
</ng-container> -->