#back-title-list {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 1rem;
  margin-bottom: 0;
  letter-spacing: 0.2rem;
  font-weight: 600;

  .material-icons {
    font-weight: 500;
    font-size: 1.5rem;
    vertical-align: bottom;
    margin: 0 0.5rem;
  }
}

.remove-btn {
  padding: 0.3rem 1.2rem 0.15rem 1rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: white;
  border: none;
  display: block;
  min-width: fit-content;
  .mat-icon {
    margin-bottom: 3px;
    font-weight: 500;
  }
}
