@import "../../../css/scss/colors";

header.main-header-wrapper {
  a {
    text-decoration: none;
    color: $teal-900;

    h1 {
      text-align: center;
      letter-spacing: 0.2rem;
      padding: 3rem;
      margin: 0;
      padding-bottom: 2rem;
    }
  }
}
