<div class="main-header-wrapper">
    <a routerLink="/" routerLinkActive="active">
        <h1>{{ title }}</h1>
    </a>

    <app-nav-tab-bar *ngIf="visibleTabs"></app-nav-tab-bar>

    <mat-divider></mat-divider>

    <!-- <section class="sub-menu-wrapper">
        <app-dietary-preferences></app-dietary-preferences>
        <button mat-button routerLink="/list" routerLinkActive="active" class="list-link-btn" color="accent">
            <mat-icon>favorite</mat-icon> Saved recipes
        </button>
    </section> -->

</div>