<h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>

<h3 mat-dialog-title>Save recipe</h3>
<div mat-dialog-content>
  <p>Choose a list below to save recipe to</p>
  <mat-form-field appearance="fill">
    <mat-label>-select list-</mat-label>
    <mat-select>
      <mat-option value="one">List placeholder one</mat-option>
      <mat-option value="two">List placeholder two</mat-option>
    </mat-select>
  </mat-form-field>
  <p>...or make a new list</p>
  <mat-form-field appearance="fill">
    <mat-label>List title</mat-label>
    <input matInput [(ngModel)]="data.list">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.list" cdkFocusInitial>Ok</button>
</div>