// primary
$teal-100: #b2dfdb;
$teal-500: #009688; // default
$teal-900: #004d40;

// accent
$amber-600: #ffb300;
$amber-800: #ff8f00; // default
$amber-900: #ff6f00;

// warn
$deep-orange-900: #bf360c;

// background
$lime-50: #f9fbe7;

