main {
  box-sizing: border-box;
  padding: 2rem;
  margin: auto;
  padding: 0;
  align-self: center;
}

.recipe-wrapper {
  padding: 2rem;
  display: grid;
  width: 100%;
}

.header-wrapper {
  padding: 0;
  display: grid;
  width: 100vw;
}

.list-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

// Breakpoints

// X-Small devices (portrait phones, less than 599px)
@media (max-width: 599px) {
  #back-title-recipe {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 0;

    .material-icons {
      font-size: 1.5rem;
    }
  }
}

// Small devices (landscape phones, portrait tablets, 600px and up)
@media (min-width: 600px) {
  .recipe-wrapper {
    width: 590;
    grid-template-columns: 1fr;
  }
  .header-wrapper {
    grid-template-columns: 1fr;
  }
  #back-title-recipe {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 0;

    .material-icons {
      font-size: 1.5rem;
    }
  }
}

// Medium devices (landscape tablets, 720px and up)
@media (min-width: 720px) {
  .recipe-wrapper {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .header-wrapper {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .list-wrapper {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    .list-card.mat-card {
      grid-template-columns: 30% auto;
      max-width: 100%;
      .mat-card-image {
        height: auto;
      }
    }
  }
}

// Large devices (laptops, 1024px and up)
@media (min-width: 1024px) {
  .recipe-wrapper {
    width: 960px;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
  .header-wrapper {
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
  #back-title-recipe {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 0.5rem;

    .material-icons {
      font-size: 2rem;
    }
  }
  .list-wrapper {
    padding: 2rem;
    row-gap: 1rem;
  }
}

// X-Large devices (desktops, 1440px and up)
@media (min-width: 1440px) {
  .recipe-wrapper {
    width: 1140px;
    column-gap: 6rem;
  }
  .header-wrapper {
    max-width: 1200px;
    column-gap: 6rem;
    justify-self: center;
    margin: auto;
  }
}

// XX-Large devices (large desktops, 1920px and up)
@media (min-width: 1920px) {
  .recipe-wrapper {
    width: 1320px;
  }
  .header-wrapper {
    max-width: 1400px;
  }
}

// sources for breakpoints:
// -----------------------------------------------------------------------
// https://material.io/design/layout/responsive-layout-grid.html#breakpoints