a {
  text-decoration: none;
  color: map-get($app-primary, darker);

  h1 {
    text-align: center;
    padding: 3rem;
  }

  &.mat-tab-link {
    opacity: 0.8;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    :hover {
      color: map-get($app-primary, default);
      opacity: 0.9;
    }
  }
}

.mat-expansion-indicator {
  margin-bottom: 0.5rem;
  color: map-get($app-primary, darker);
}
