.mat-list-icon {
  vertical-align: top;
  padding: 3px !important;
  font-size: 20px !important;
}

.mat-list-item.mat-list-item-word-wrap {
  height: initial !important;
  margin-bottom: 1.3rem;
  h4 {
    vertical-align: top;
  }
}
.mat-list-item-word-wrap .mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

.mat-list-item {
  margin-bottom: 0.5rem !important;
}

// .mat-list-item-content {
//   align-items: flex-start !important;
// }
