// arrows in expansion panels
.mat-expansion-indicator,
.mat-expansion-indicator::after {
  margin-bottom: 0.5rem;
  color: map-get($app-primary, darker);
}

// container that holds all the overlay
// only reach down to right above the tabs in recipe-page
.cdk-overlay-container {
  height: calc(100% - 49px);
  z-index: 2;
  .cdk-global-overlay-wrapper {
    z-index: 2;
  }
}

// make the overlay pane cover the whole wrapper/container
// and make it slightly see-through
.cdk-overlay-pane {
  // height: 100%; // had to remove this for menu to work
  opacity: 0.95;
  z-index: 2;
}

// make sure bottom-sheet covers the whole cdk-overlay-container
// remove box-shadow
.mat-bottom-sheet-container {
  height: 100%;
  max-height: 100% !important;
  box-shadow: none;
}

// make bottom tabs bg non see-through on small screens
@media (max-width: 777px) {
  .mat-tab-labels {
    background-color: $custom-background-color;
  }
}

// styling for tabs
.mat-tab-header {
  border-bottom: none;

  .mat-tab-label {
    opacity: 0.8;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    &:hover {
      opacity: 0.9;
      color: map-get($app-primary, darker);
    }
  }
}

// make span in profile-menu not change bg on hover/focus
.mat-menu-content {
  span.mat-menu-item {
    cursor: default;
    font-weight: 900;

    &:hover:not([disabled]),
    &.cdk-program-focused:not([disabled]),
    &.cdk-mouse-focused:not([disabled]),
    &.cdk-keyboard-focused:not([disabled]),
    &.mat-menu-item-highlighted:not([disabled]) {
      background-color: transparent !important;
    }

    &.cdk-focused,
    &.cdk-keyboard-focused,
    &.cdk-mouse-focused,
    &.cdk-program-focused,
    &.mat-focus-indicator,
    &.mat-menu-item-highlighted {
      background-color: transparent !important;
    }
  }
}
