h2.recipe-title {
  color: map-get($app-accent, darker);
  font-weight: 700;
  margin: 1.5rem 0;
}

.mat-tab-labels {
  background-color: $custom-background-color;
  // border-top: solid 1px map-get($app-primary, darker);
}

.mat-tab-label {
  opacity: 0.8;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  &:hover {
    opacity: 0.9;
    color: map-get($app-primary, darker);
  }
}

.mat-tab-header {
  border-bottom: none;
}

// container that holds all the overlay
// only reach down to right above the tabs
.cdk-overlay-container {
  height: calc(100% - 49px);
}

// .cdk-global-overlay-wrapper {
//   height: 100vh;
//   top: 10%;
//   bottom: 10%;
//   position: fixed;
// }

// make the overlay pane cover the whole wrapper/container
// and make it slightly see-through
.cdk-overlay-pane {
  height: 100%;
  opacity: 0.95;
}

// make sure bottom-sheet covers the whole cdk-overlay-container
// remove box-shadow
.mat-bottom-sheet-container {
  height: 100%;
  max-height: 100% !important;
  box-shadow: none;
}

// .cdk-overlay-dark-backdrop {
//   background-color: map-get($app-primary, default);;
// }

// .cdk-global-scrollblock {
//     position: static;
//     overflow-y: hidden;
// }

.test-tabs {
  position: fixed;
  width: 100vw;
  bottom: 0;
}
