<button (click)="onSelect($event)" value="appz">Appetizers</button>
<button (click)="onSelect($event)" value="mains">Mains</button>
<button (click)="onSelect($event)" value="desserts">Desserts</button>
<button (click)="onSelect($event)" value="sides">Sides</button>

<div *ngIf="selectedBtn else random">
    <ul>
        <li *ngFor="let showRecipe of showRecipes">
            <a [routerLink]="['/recipe', showRecipe.id]">
                {{ showRecipe.title }}
                <img src="{{ showRecipe.image }}">
            </a>
        </li>
    </ul>
</div>

<ng-template #random>
    <ul>
        <li *ngFor="let showRecipe of showRecipes">
            <a [routerLink]="['/recipe', showRecipe.id]">
                {{ showRecipe.title }}
                <img src="{{ showRecipe.image }}">
            </a>
        </li>
    </ul>
</ng-template>
