<button (click)="onSelect($event)" value="appz">Appetizers</button>
<button (click)="onSelect($event)" value="mains">Mains</button>
<button (click)="onSelect($event)" value="desserts">Desserts</button>
<button (click)="onSelect($event)" value="sides">Sides</button>

<div *ngIf="selectedBtn else random">
    <ul>
        <li *ngFor="let showRecipe of showRecipes">
            {{ showRecipe.title }}
            <img src="{{ showRecipe.image }}">
        </li>
    </ul>
</div>

<ng-template #random>
    <ul>
        <li *ngFor="let showRecipe of showRecipes">
            {{ showRecipe.title }}
        </li>
    </ul>
</ng-template>

<!-- <div *ngIf="selectedRecipe">

    <h2>{{selectedRecipe.label | titlecase}}</h2>

    <h3>Ingredients</h3>
    <ul>
        <li *ngFor="let ingredientLine of selectedRecipe.ingredientLines">{{ ingredientLine }}</li>
    </ul>

</div> -->