<div class="guest-wrapper">

    <ng-container *ngIf="!isLargeScreen">
        <button mat-icon-button [matMenuTriggerFor]="guestMenu">
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #guestMenu="matMenu" xPosition="before">
            <a mat-menu-item [routerLink]="['/login']">Log in</a>
            <a mat-menu-item [routerLink]="['/register']">Register</a>
        </mat-menu>
    </ng-container>

    <ng-container *ngIf="isLargeScreen">
        <a [routerLink]="['/login']" class="login-btn" mat-flat-button>
            Log in
        </a>
        <a [routerLink]="['/register']" class="register-btn" mat-flat-button>
            Register
        </a>
    </ng-container>

</div>

<!-- <ng-container *ngIf="isLargeScreen; then largeScreen; else smallScreen">
</ng-container>

<ng-template #largeScreen>
</ng-template>

<ng-template #smallScreen>
</ng-template> -->