.profile-container {
  h1 {
    color: #ff6f00;
  }

  .mat-mini-fab {
    box-shadow: none;
    color: white;
    transform: none;
    transition: none;
  }

  .mat-nav-list {
    margin: 2rem 0;
  }

}
