@import "../../../css/scss/colors";

main.lists-wrapper {
  h2 {
    padding: 1rem 0;
    font-size: 4rem;
    font-weight: 600;
    color: $amber-900;
    letter-spacing: normal;
  }

  .mat-mini-fab {
    box-shadow: none;
    color: white;
    transform: none;
    transition: none;
  }

  .mat-nav-list {
    margin: 2rem 0;
  }
}
