@import "../../../css/scss/colors";

main.lists-wrapper {
  h2 {
    font-size: 6rem;
    font-weight: 700;
    color: $amber-900;
  }

  .mat-mini-fab {
    box-shadow: none;
    color: white;
    transform: none;
    transition: none;
  }

  .mat-nav-list {
    margin: 2rem 0;
  }
}
