<app-header-xs></app-header-xs>

<main class="lists-wrapper">

    <h2>Hello, {{ (user | async)?.name }}!</h2>
    <h3>Here are your saved recipe lists. Click on the the title so see all your saved recipes!</h3>

    <app-add-list></app-add-list>

    <mat-nav-list>
        <mat-list-item *ngFor="let recipeList of (recipeLists | async)?.list">
            <a matLine [routerLink]="['/lists', recipeList.id]">
                {{ recipeList.title }}
            </a>
            <button mat-mini-fab
                (click)="deleteList(recipeList.id, recipeList.title)"
                matTooltip="Delete list"
                color="accent">
                <mat-icon>close</mat-icon>
            </button>
        </mat-list-item>
    </mat-nav-list>

</main>
