@import "../../../css/scss/colors";

header.header-wrapper {
  a {
    text-decoration: none;
    cursor: pointer;

    h1.back-title {
      font-weight: 600;
      padding: 1rem;
      letter-spacing: 0.2rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      color: $teal-900;
      
    
      .material-icons {
        font-weight: 500;
        vertical-align: top;
        margin: 0 0.5rem;
      }
    }
  }
}
