#back-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 1rem;
    margin-bottom: 0;
    letter-spacing: 0.2rem;
    font-weight: 600;
  
    .material-icons {
      font-weight: 500;
      font-size: 1.5rem;
      vertical-align: bottom;
      margin: 0 0.5rem;
    }
  }