<app-header-xs></app-header-xs>

<main class="list-wrapper">

    <mat-card *ngFor="let listRecipe of (listRecipes | async)?.recipes"
        [routerLink]="['/recipe', listRecipe.api_id]">

        <img mat-card-image src="{{ listRecipe.img }}" />

        <mat-card-content>
            <mat-card-title>{{ listRecipe.title }}</mat-card-title>
            <button mat-mini-fab
                (click)="removeRecipeFromList($event, listRecipe.id, listRecipe.title)"
                matTooltip="Remove from list"
                color="accent">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-content>

    </mat-card>

</main>